@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@900&display=swap');

/* Root variables */
:root {
    /* Font */
    --open-sans-font: 'Open Sans', sans-serif;
    --poppins-font: 'Poppins', sans-serif;

    /* colors */
    --highlight-text: #EEDACB;
    /* Background colors */
    --main-background: #F0F3F4;
    --swoosh-background: #EBEBEB;
    --text-newsletter-background: #1C1C1C;
    --titles-footer-background: #D1898B;
}

/* Base styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
body.stop-scrolling{
    height: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
}
.text-link {
    text-decoration: underline;
    font-size: 1rem;
    font-family: var(--open-sans-font);
    text-transform: uppercase;
    font-weight: 600;
}
.divider{
    font-weight: 600;
    font-size: 1.2rem;
}
h1{
    color: var(--titles-footer-background);
    font-family: var(--poppins-font);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
}
h2{
    font-family: var(--poppins-font);
    color: var(--titles-footer-background);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h3 {
    font-family: var(--poppins-font);
    color: var(--titles-footer-background);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.intro-text{
    font-family: var(--open-sans-font);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
.body-text{

}
.button {
    position: relative;
    border: 1px solid var(--titles-footer-background);
    padding: .75rem 2rem;
}
.button span{
    font-family: var(--open-sans-font);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--highlight-text);
}
.button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--titles-footer-background);
    top: 0.15rem;
    left: 0.15rem;
}
.button, button::after{
    cursor: pointer;
}

/* ---------- Menu styles ---------- */
.nav {
    width: 100%;
    height: 100vh;
    background-color: var(--text-newsletter-background);
    position: fixed;
    transform: translate(100%, 0);
    transition: transform .5s;
    z-index: 100;
    display: flex;
}
.nav.open{
    transform: translate(0, 0);
}
.nav-container {
    max-width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Nav header */
.nav-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    width: 4rem;
    margin: 2rem 0 0 1rem;
}
.nav-close {
    color: var(--highlight-text);
    margin: 1rem .5rem 0 0;
}
.nav-close span{
    font-size: 2.4rem;
    cursor: pointer;
}
/* Nav Menu */
.nav-menu {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-top: 1.5rem;
}
.nav-link {
    font-family: var(--poppins-font);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--highlight-text);
}
.nav-link.active {
    color: var(--titles-footer-background);
    text-decoration: 2px underline;
}
/* Nav Footer */
.nav-footer {
    height: 15%;
    color: var(--titles-footer-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info {
    display: flex;
}
.contact-info a {
    color: var(--titles-footer-background);
}
.contact-item {
    margin-right: 0.75rem;
}

/* ---------- Main styles ---------- */
.main {
    width: 100vw;
    height: 100%;
}
/* ------ Header styles ------ */
.header {
    width: 100%;
    position: fixed;
    z-index: 50;
}
.header-container{
    width: 100%;
    display: flex;
    position: relative;
}
.header-logo {
    position: absolute;
    width: 6rem;
    top: 1rem;
    left: 1rem;
}
.hamburger {
    position: absolute;
    top: .75rem;
    right: .75rem;
}
.hamburger i{
    font-size: 2.5rem;
    color: var(--titles-footer-background);
    cursor: pointer;
}

/* ------ Hero section styles ------ */
.hero {
    position: relative;
    width: 100%; 
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.9), rgb(28, 28, 28)), url("./assets/background_image.jpeg");
    background-size: cover;
    display: flex;
}
.hero-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cole-skateboard {
    width: 6rem;
    margin-top: 2.5rem;
}
.cole-skate {
    width: 5rem;
    margin-top: 1.25rem;
}
.hero-title {
    text-align: center;
    margin-top: 1.75rem;
}
.hero-subtitle{
    text-align: center;
    margin-top: 1.25rem;
    width: 90%;
    color: var(--highlight-text);
}
.hero-button{
    margin: 2rem 0;
}

/* ------ Product section styles ------ */
.product {
    width: 100%;
    background-color: var(--main-background);
    position: relative;
    display: flex;
}
.product-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.product-intro{
    color: var(--text-newsletter-background);
    text-transform: uppercase;
}
.product-title{
    margin-top: 1rem;
    text-align: center;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-item{
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem 0;
}
.product-img {
    max-width: 22rem;
}
.product-img img{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, 
    rgba(0, 0, 0, 0.1) 0px 10px 10px;
}
.product-description {
    max-width: 22rem;
    text-align: center;
    margin-top: 1.25rem;
}
.product-button{
    margin: 3rem 0;
}
.product-button span{
    color: var(--titles-footer-background);
}

/* ------ More About section styles ------ */
.more-about{
    width: 100%;
    background-color: var(--swoosh-background);
}
.more-about-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.more-about-item{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.more-about-item:nth-child(1){
    transform: translate(0, -5rem);
}
.more-about-item:nth-child(2){
    transform: translate(0, 5rem);
}
.follow-us-img {
    margin-top: 2rem;
}
.more-about-img{
    max-width: 20rem;
} 
.more-about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
} 
.more-about-info:nth-child(1){
    transform: translate(0, 2.5rem);
}
.more-about-info:nth-child(2){
    transform: translate(0, -2.5rem);
}
.more-about-info a{
    color: var(--titles-footer-background);
}
/* Triangle on image corner */
.img {
    position: relative;
    overflow: hidden;
}
.more-about-img::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-left: 3rem solid var(--swoosh-background);
    border-bottom: 3rem solid transparent;
    bottom: -3rem;
    right: -0.9rem;
    transform: rotate(45deg);
}
.follow-us-img::before{
    border-left: 3rem solid var(--main-background);
    bottom: -2.98rem;
    right: -0.9rem;
}

/* ------ Rating section styles ------ */
.rating{
    width: 100%;
    background-color: var(--main-background);
}
.rating-container{
    width: 90%;
    min-height: 25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}
.rating-heading{
    text-transform: uppercase;
}
.rating-image{
    margin: 0 1rem;
}

/* ------ Newsletter section styles ------ */
.newsletter {
    width: 100%;
    background-color: var(--text-newsletter-background);
}
.newsletter-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.newsletter-logo{
    width: 10rem;
    transform: translateY(-3rem);
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem 0;
}
.newsletter-title{
    color: var(--highlight-text);
}
.newsletter-subheading{
    color: var(--highlight-text);
}
.newsletter-content .button{
    text-align: center;
    margin: 1rem 0;
}
.newsletter-content .button span{
    color: var(--titles-footer-background);
}

/* ------ Footer section styles ------ */
.footer{
    width: 100%;
    background-color: var(--titles-footer-background);
}
.footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container .contact-info,
.footer-container a 
{
    color: var(--text-newsletter-background);
}
.footer-container .contact-info{
    margin: 1.5rem 0;
}
.footer-logo {
    width: 3.5rem;
}