@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@700&display=swap');

:root {
    /* Font */
    --open-sans-font: 'Open Sans', sans-serif;
    --poppins-font: 'Poppins', sans-serif;

    /* colors */
    --highlight-text: #EEDACB;
    /* Background colors */
    --main-background: #F0F3F4;
    --swoosh-background: #EBEBEB;
    --text-newsletter-background: #1C1C1C;
    --titles-footer-background: #D1898B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--highlight-text);
    overflow-x: hidden;
}
a {
    text-decoration: none;
}


/* ---------- Menu styles ---------- */
#nav {
    min-width: 35rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
}
.nav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--text-newsletter-background);
}

/* Nav header */
.nav-header {
    display: flex;
    height: 10%;
}
.nav-header div {
    width: 50%;
}
.nav-logo img {
    width: 5rem;
    margin: 2rem 0 0 3rem;
}
.nav-close {
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 3rem 0 0;
}
.nav-close span{
    cursor: pointer;
}

/* Nav Menu */
.nav-menu {
    height: 80%;
}
.nav-list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
}
.nav-item {
    margin: 0.5rem;
}
.nav-link {
    text-transform: uppercase;
    font-family: var(--poppins-font);
    font-size: 3.1rem;
    color: var(--highlight-text);
}
.nav-link.active {
    color: var(--titles-footer-background);
    text-decoration: 2px underline;
}

/* Nav Footer */
.nav-footer {
    color: var(--titles-footer-background);
}
.contact-info {
    display: flex;
    margin-left: 3rem;
}
.contact-info a {
    color: var(--titles-footer-background);
    text-decoration: underline;
}
.contact-item {
    margin: 0 .5rem;
    font-size: 1.1rem;
    font-family: var(--open-sans-font);
    font-weight: 600;
    text-transform: uppercase;
}

/* ---------- Main styles ---------- */
/* ------ Header styles ------ */
.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 50;
}
.header div {
    width: 50%;
}
.header-logo img {
    width: 6rem;
    height: auto;
    margin: 2rem 0 0 2.5rem;
}
.hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hamburger i{
    font-size: 3rem;
    margin: 2rem 2.5rem 0 0;
    color: var(--titles-footer-background);
    cursor: pointer;
}

/* ------ Hero section styles ------ */
.hero {
    position: relative;
    width: 100vw;
    height: 140vh; 
    background-image: linear-gradient(to right, rgba(28, 28, 28, 0.7), rgba(28, 28, 28, 0.9), rgb(28, 28, 28)), url("./assets/background_image.jpeg");
    background-size: cover;
}
.hero-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.cole-skateboard {
    margin-top: 5rem;
    width: 10%;
}
.cole-skateboard img{
    width: 100%;
    height: auto;
}
.cole-skate {
    width: 8%;
    margin-top: 2rem;
}
.cole-skate img {
    width: 100%;
    height: auto;
}
.hero-title {
    color: var(--titles-footer-background);
    font-family: var(--poppins-font);
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}
.hero-subtitle{
    font-family: var(--open-sans-font);
    width: 27%;
    text-align: center;
    margin-top: 2rem;
}
.button {
    position: relative;
    border: 1px solid var(--titles-footer-background);
    font-family: var(--open-sans-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    margin-top: 3rem;
}
.button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--titles-footer-background);
    top: 0.3rem;
    left: 0.3rem;
}
.button, button::after{
    cursor: pointer;
}

/* Curve */
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.curve svg {
    position: relative;
    display: block;
    width: calc(187% + 1.3px);
    height: 279px;
}
.curve .shape-fill {
    fill: var(--main-background);
}

/* ------ Product section styles ------ */
.product {
    width: 100vw;
    height: 140vh; 
    background-color: var(--main-background);
    color: var(--titles-footer-background);
    z-index: 0;
}
.product-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-intro{
    font-size: 1.2rem;
    color: var(--text-newsletter-background);
    font-family: var(--open-sans-font);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5rem;
}
.product-title{
    font-family: var(--poppins-font);
    font-size: 2.8rem;
    margin-top: 1rem;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.product-item{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}
.product-img {
    max-width: 22rem;
}
.product-img img{
    max-width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, 
    rgba(0, 0, 0, 0.1) 0px 10px 10px;
}
.product-description {
    max-width: 22rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--poppins-font);
    padding: 0.8rem;
}
.product-button{
    margin-bottom: 2rem;
}

/* ------ More About section styles ------ */
.more-about{
    width: 100vw;
    height: 100%;
    background-color: var(--swoosh-background);
}
.more-about-container{
    display: flex;
    flex-direction: column;
}
.more-about-item{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.more-about-item:nth-child(1){
    margin-bottom: 10rem;
}
.more-about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.more-about-info h2{
    font-family: var(--poppins-font);
    color: var(--titles-footer-background);
    font-size: 4rem;
}
.more-about-info span{
    color: var(--text-newsletter-background);
    font-family: var(--open-sans-font);
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 2rem;   
}
.more-about-info a{
    text-decoration: underline;
    text-transform: uppercase;
    font-family: var(--open-sans-font);
    color: var(--titles-footer-background);
    margin-top: 2rem;
}
.more-about-img{
    width: 35rem;
    height: auto;
}
.more-about-img img{
    width: 100%;
}
.img {
    position: relative;
}
.follow-us-info{
    position: relative;
    left: -10rem;
    top: 5rem;
}
.follow-us-img img{
    width: 100%;
}
.more-about-img::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5rem solid transparent;
    border-left: 5rem solid var(--swoosh-background);
    border-bottom: 5rem solid transparent;
    bottom: -3rem;
    right: -0.8rem;
    transform: rotate(45deg);
}
.follow-us-img::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5rem solid transparent;
    border-left: 5rem solid var(--swoosh-background);
    border-bottom: 5rem solid transparent;
    bottom: -2.99rem;
    right: -0.8rem;
    transform: rotate(45deg);
} 

/* ------ Rating section styles ------ */
.rating{
    width: 100vw;
    height: 70vh;
    background-color: var(--main-background);
}
.rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-newsletter-background);
    font-family: var(--open-sans-font);
    font-weight: bold;
    letter-spacing: 1px;
    height: 100%;
}
.rating-heading{
    text-transform: uppercase;
    font-size: 1.5rem;

}
.rating-image{
    margin-top: 2rem;
}
.rating-from{
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* ------ Rating section styles ------ */
.newsletter {
    width: 100%;
    height: 60vh;
    background-color: var(--text-newsletter-background);
}
.newsletter-container{
    display: flex;
    justify-content: center;
    position: relative;
}
.newsletter-logo{
    width: 28rem;
    transform: translateY(-10rem);
    margin-left: 2rem;
}
.newsletter-logo img{
    width: 100%;
    height: auto;
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 10rem;
}
.newsletter-title{
    text-transform: uppercase;
    font-family: var(--open-sans-font);
    font-weight: bold;
}
.newsletter-heading{
    font-size: 2rem;
    color: var(--titles-footer-background);
    text-transform: uppercase;
    font-family: var(--poppins-font);
    margin-top: 2rem;
}

.newsletter-subheading{
    font-family: var(--open-sans-font);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}
.newsletter-content .button{
    width: 30%;
    text-align: center;
    color: var(--titles-footer-background);
    margin-top: 3rem;
}
